button {
	cursor: pointer;
	border: none;
}
a {
	text-decoration: none;
}
.container {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}
body {
	background: rgb(27, 32, 38);
}
#best {
	padding: 100px 0;
	.best {
		&--title {
			display: flex;
			align-items: center;
			gap: 40px;
			h2 {
				color: rgb(255, 255, 255);
				font-family: Shalimar;
				font-size: 40px;
				font-weight: 400;
				line-height: 49px;
				letter-spacing: 0%;
				text-align: left;
			}
		}
		&--info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__text {
				display: flex;
				flex-direction: column;
				h1 {
					width: 320px;
					color: rgb(255, 255, 255);
					font-family: Silk Serif;
					font-size: 40px;
					font-weight: 600;
				}
				p {
					width: 447px;
					color: rgb(255, 255, 255);
					font-family: Spartan, sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0%;
				}
			}
			&__img {
				display: flex;
				gap: 24px;
				width: 580px;
				overflow-y: hidden;
			}
			&__img::-webkit-scrollbar {
				display: none;
			}
		}
	}
}